/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}


.clear {
  clear: both;
}

/* Posititoning Classes */
.wrapper-brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100%, auto);
  grid-gap: 10px;
  margin-left: 10px;
  grid-template-areas: 
  "summer summer archive"
  "lady skaters heels"
}
.summer-grass{
  grid-area: summer;
}
.shoe-archive{
  grid-area: archive;
  }
.lady-bugs{
  grid-area: lady;
}
.skaters{
  grid-area: skaters;
}
.bluestar-heels{
  grid-area: heels;
}
.wrapperdetails{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100%, auto);
  grid-gap: 10px;
  align-content: center;
  grid-template-areas:
  "contact links follow"
  "correspondence links follow"
  
}
.contact{
  grid-area: contact;
  }
.correspondence{
  grid-area: correspondence;
  }
.links{
  grid-area: links;
  }
.follow{
  grid-area: follow;
  }

